USE [AccessSystemDB]
GO
/****** Object:  Table [dbo].[TBL_ADMINUSER]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMINUSER](
	[ADMINUSERID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[MIDDLENAME] [nvarchar](50) NOT NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
 CONSTRAINT [UQ_TBL_ADMINUSER_FIRSTNAME_MIDDLENAME_LASTNAME] UNIQUE CLUSTERED 
(
	[FIRSTNAME] ASC,
	[MIDDLENAME] ASC,
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COMPUTER]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COMPUTER](
	[COMPUTERID] [uniqueidentifier] NOT NULL,
	[COMPUTERNUMBER] [int] NOT NULL,
	[SPECIFICATION] [nvarchar](max) NULL,
	[ISACTIVE] [bit] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
 CONSTRAINT [UQ_TBL_COMPUTER_COMPUTERNUMBER] UNIQUE CLUSTERED 
(
	[COMPUTERNUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COURSEANDSECTION]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COURSEANDSECTION](
	[COURSESECTIONID] [uniqueidentifier] NOT NULL,
	[COURSE] [nvarchar](50) NOT NULL,
	[SECTION] [nvarchar](50) NOT NULL,
	[ISACTIVE] [bit] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[YEAR] [nvarchar](10) NOT NULL,
 CONSTRAINT [UQ_TBL_COURSEANDSECTION_COURSE_SECTION] UNIQUE CLUSTERED 
(
	[COURSE] ASC,
	[SECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_LOG]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_LOG](
	[LOGID] [uniqueidentifier] NOT NULL,
	[NAMEID] [uniqueidentifier] NOT NULL,
	[COMPUTERID] [uniqueidentifier] NOT NULL,
	[STARTTIME] [datetime] NOT NULL,
	[ENDTIME] [datetime] NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NAMES]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NAMES](
	[NAMEID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[MIDDLENAME] [nvarchar](50) NOT NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[COURSESECTIONID] [uniqueidentifier] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[RFIDCODE] [nvarchar](50) NOT NULL,
 CONSTRAINT [UQ_TBL_NAMES_FIRSTNAME_MIDDLENAME_LASTNAME] UNIQUE CLUSTERED 
(
	[FIRSTNAME] ASC,
	[MIDDLENAME] ASC,
	[LASTNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_ADMINUSER] ([ADMINUSERID], [FIRSTNAME], [MIDDLENAME], [LASTNAME], [USERNAME], [PASSWORD], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'01f8b137-cbd0-4aae-baeb-43f997bee788', N'ADMIN', N'ADMIN', N'ADMIN', N'admin', N'admin', CAST(N'2023-05-05T15:13:04.993' AS DateTime), NULL, CAST(N'2023-05-05T22:44:55.343' AS DateTime), N'01f8b137-cbd0-4aae-baeb-43f997bee788')
INSERT [dbo].[TBL_ADMINUSER] ([ADMINUSERID], [FIRSTNAME], [MIDDLENAME], [LASTNAME], [USERNAME], [PASSWORD], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'bb5b5f85-f1ad-45e7-821f-42a7357b0f08', N'Jomiel', N'Liquigan', N'Enriquez', N'jomiel', N'jomiel', CAST(N'2023-05-05T22:47:40.020' AS DateTime), N'01f8b137-cbd0-4aae-baeb-43f997bee788', NULL, NULL)
INSERT [dbo].[TBL_COMPUTER] ([COMPUTERID], [COMPUTERNUMBER], [SPECIFICATION], [ISACTIVE], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'33402476-16e6-4740-9b38-5d1feb937227', 1, N'4GB RAM with SSD 1TB', 1, CAST(N'2023-05-06T14:21:56.947' AS DateTime), NULL, CAST(N'2023-05-06T14:34:48.533' AS DateTime), N'bb5b5f85-f1ad-45e7-821f-42a7357b0f08')
INSERT [dbo].[TBL_COMPUTER] ([COMPUTERID], [COMPUTERNUMBER], [SPECIFICATION], [ISACTIVE], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'dee8a5a1-6e56-4399-98e3-9ce3b1da3d90', 2, N'4GB RAM', 0, CAST(N'2023-05-06T14:35:04.053' AS DateTime), NULL, CAST(N'2023-05-06T14:38:03.613' AS DateTime), N'bb5b5f85-f1ad-45e7-821f-42a7357b0f08')
INSERT [dbo].[TBL_COMPUTER] ([COMPUTERID], [COMPUTERNUMBER], [SPECIFICATION], [ISACTIVE], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'e51171b5-29f4-4d97-ae15-290309c58b0d', 3, N'Test', 1, CAST(N'2023-05-09T19:12:29.300' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_COURSEANDSECTION] ([COURSESECTIONID], [COURSE], [SECTION], [ISACTIVE], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY], [YEAR]) VALUES (N'216ea98a-ce10-459d-a7c1-83372c0206cd', N'BS CPE', N'A', 1, CAST(N'2023-05-06T12:28:22.090' AS DateTime), NULL, CAST(N'2023-05-06T13:18:02.960' AS DateTime), N'bb5b5f85-f1ad-45e7-821f-42a7357b0f08', N'4')
INSERT [dbo].[TBL_LOG] ([LOGID], [NAMEID], [COMPUTERID], [STARTTIME], [ENDTIME], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'1d4804d1-6bcb-4359-b87e-a276f381e7c6', N'ddd93040-92dc-46a7-b946-12fd693a5177', N'33402476-16e6-4740-9b38-5d1feb937227', CAST(N'2023-05-09T12:55:04.210' AS DateTime), CAST(N'2023-05-09T13:10:01.247' AS DateTime), CAST(N'2023-05-09T12:55:04.210' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_LOG] ([LOGID], [NAMEID], [COMPUTERID], [STARTTIME], [ENDTIME], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'2e5b7f3b-e332-4007-9a62-9c17ed256f32', N'ddd93040-92dc-46a7-b946-12fd693a5177', N'33402476-16e6-4740-9b38-5d1feb937227', CAST(N'2023-05-09T13:24:59.970' AS DateTime), CAST(N'2023-05-09T13:25:11.960' AS DateTime), CAST(N'2023-05-09T13:24:59.970' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_LOG] ([LOGID], [NAMEID], [COMPUTERID], [STARTTIME], [ENDTIME], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'd20a8d94-b430-4def-bb7a-684331d03c3b', N'ddd93040-92dc-46a7-b946-12fd693a5177', N'33402476-16e6-4740-9b38-5d1feb937227', CAST(N'2023-05-09T13:26:18.717' AS DateTime), CAST(N'2023-05-09T13:26:32.097' AS DateTime), CAST(N'2023-05-09T13:26:18.717' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_NAMES] ([NAMEID], [FIRSTNAME], [MIDDLENAME], [LASTNAME], [COURSESECTIONID], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY], [RFIDCODE]) VALUES (N'ddd93040-92dc-46a7-b946-12fd693a5177', N'Juan', N'Dela Cruz', N'Dela Cruz', N'216ea98a-ce10-459d-a7c1-83372c0206cd', CAST(N'2023-05-08T11:18:00.490' AS DateTime), NULL, NULL, NULL, N'353971168235')
/****** Object:  Index [PK_TBL_ADMINUSER_ADMINUSERID]    Script Date: 09/05/2023 7:31:11 pm ******/
ALTER TABLE [dbo].[TBL_ADMINUSER] ADD  CONSTRAINT [PK_TBL_ADMINUSER_ADMINUSERID] PRIMARY KEY NONCLUSTERED 
(
	[ADMINUSERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBL_COMPUTER_COMPUTERID]    Script Date: 09/05/2023 7:31:11 pm ******/
ALTER TABLE [dbo].[TBL_COMPUTER] ADD  CONSTRAINT [PK_TBL_COMPUTER_COMPUTERID] PRIMARY KEY NONCLUSTERED 
(
	[COMPUTERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBL_COURSEANDSECTION_COURSESECTIONID]    Script Date: 09/05/2023 7:31:11 pm ******/
ALTER TABLE [dbo].[TBL_COURSEANDSECTION] ADD  CONSTRAINT [PK_TBL_COURSEANDSECTION_COURSESECTIONID] PRIMARY KEY NONCLUSTERED 
(
	[COURSESECTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBL_LOG_LOGID]    Script Date: 09/05/2023 7:31:11 pm ******/
ALTER TABLE [dbo].[TBL_LOG] ADD  CONSTRAINT [PK_TBL_LOG_LOGID] PRIMARY KEY NONCLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBL_NAMES_NAMEID]    Script Date: 09/05/2023 7:31:11 pm ******/
ALTER TABLE [dbo].[TBL_NAMES] ADD  CONSTRAINT [PK_TBL_NAMES_NAMEID] PRIMARY KEY NONCLUSTERED 
(
	[NAMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ADMINUSER] ADD  CONSTRAINT [DF_TBL_ADMINUSER_ADMINUSERID]  DEFAULT (newid()) FOR [ADMINUSERID]
GO
ALTER TABLE [dbo].[TBL_ADMINUSER] ADD  CONSTRAINT [DF_TLB_ADMINUSER_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_COMPUTER] ADD  CONSTRAINT [DF_TBL_COMPUTER_COMPUTERID]  DEFAULT (newid()) FOR [COMPUTERID]
GO
ALTER TABLE [dbo].[TBL_COMPUTER] ADD  CONSTRAINT [DF_TBL_COMPUTER_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_COURSEANDSECTION] ADD  CONSTRAINT [DF_TBL_COURSEANDSECTION]  DEFAULT (newid()) FOR [COURSESECTIONID]
GO
ALTER TABLE [dbo].[TBL_COURSEANDSECTION] ADD  CONSTRAINT [DF_TBL_COURSESECTION]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_LOG] ADD  CONSTRAINT [DF_TBL_LOG_LOGID]  DEFAULT (newid()) FOR [LOGID]
GO
ALTER TABLE [dbo].[TBL_LOG] ADD  CONSTRAINT [DF_TBL_LOG_STARTTIME]  DEFAULT (getdate()) FOR [STARTTIME]
GO
ALTER TABLE [dbo].[TBL_LOG] ADD  CONSTRAINT [DF_TBL_LOG_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_NAMES] ADD  CONSTRAINT [DF_TBL_NAMES_NAMEID]  DEFAULT (newid()) FOR [NAMEID]
GO
ALTER TABLE [dbo].[TBL_NAMES] ADD  CONSTRAINT [DF_TBL_NAMES_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LOG_COMPUTERID] FOREIGN KEY([COMPUTERID])
REFERENCES [dbo].[TBL_COMPUTER] ([COMPUTERID])
GO
ALTER TABLE [dbo].[TBL_LOG] CHECK CONSTRAINT [FK_TBL_LOG_COMPUTERID]
GO
ALTER TABLE [dbo].[TBL_LOG]  WITH CHECK ADD  CONSTRAINT [FK_TBL_LOG_NAMEID] FOREIGN KEY([NAMEID])
REFERENCES [dbo].[TBL_NAMES] ([NAMEID])
GO
ALTER TABLE [dbo].[TBL_LOG] CHECK CONSTRAINT [FK_TBL_LOG_NAMEID]
GO
ALTER TABLE [dbo].[TBL_NAMES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NAMES_COURSESECTIONID] FOREIGN KEY([COURSESECTIONID])
REFERENCES [dbo].[TBL_COURSEANDSECTION] ([COURSESECTIONID])
GO
ALTER TABLE [dbo].[TBL_NAMES] CHECK CONSTRAINT [FK_TBL_NAMES_COURSESECTIONID]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LOG]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_INSERT_LOG]
	-- Add the parameters for the stored procedure here
	@NAMEID UNIQUEIDENTIFIER,
	@RFIDCODE NVARCHAR(50),
	@OUTPUT NVARCHAR(200) OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @HOLD NVARCHAR(50)
	SET @HOLD = '';

	IF EXISTS (SELECT * FROM TBL_NAMES WHERE NAMEID=@NAMEID AND RFIDCODE=@RFIDCODE) BEGIN
		IF NOT EXISTS (SELECT * FROM TBL_LOG WHERE NAMEID=@NAMEID AND ENDTIME IS NULL) BEGIN
			SELECT TOP 1 @HOLD= C.COMPUTERID
			FROM TBL_COMPUTER C 
				LEFT JOIN TBL_LOG L 
					ON C.COMPUTERID = L.COMPUTERID
			WHERE CASE
					WHEN L.LOGID IS NOT NULL AND L.ENDTIME IS NULL AND ISACTIVE=1 THEN 'TAKEN'
					ELSE 'AVAILABLE'
				END = 'AVAILABLE'
		
			IF(@HOLD='') BEGIN
				SET @OUTPUT = '{"MESSAGE":"NO COMPUTER AVAILABLE","ISSUCCESS":"FALSE","COMPUTERID":""}'
			END
			ELSE BEGIN
				INSERT INTO TBL_LOG(NAMEID,COMPUTERID) VALUES(@NAMEID,@HOLD);

				SELECT @OUTPUT = '{"COMPUTERID":"' + CAST(COMPUTERNUMBER AS NVARCHAR(50)) + '","ISSUCCESS":"TRUE"}' FROM TBL_COMPUTER WHERE COMPUTERID=@HOLD
			END;
		END
		ELSE BEGIN
			SET @OUTPUT = '{"MESSAGE":"USER ALREADY HAS COMPUTER ASSIGN TO HIM","ISSUCCESS":"FALSE","COMPUTERID":""}';
		END
	END;
	ELSE BEGIN
		SET @OUTPUT = '{"MESSAGE":"USER DOES NOT EXISTS","ISSUCCESS":"FALSE","COMPUTERID":""}';
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LOG]    Script Date: 09/05/2023 7:31:11 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UPDATE_LOG]
	@NAMEID UNIQUEIDENTIFIER,
	@OUTPUT NVARCHAR(200) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (SELECT * FROM TBL_LOG WHERE NAMEID = @NAMEID AND ENDTIME IS NULL) BEGIN
		UPDATE TBL_LOG SET ENDTIME = GETDATE() WHERE NAMEID = @NAMEID AND ENDTIME IS NULL
		SET @OUTPUT = '{"MESSAGE":"UPDATE SUCCESSFUL","ISSUCCESS":"TRUE","COMPUTERID":""}'
	END
	ELSE BEGIN
		SET @OUTPUT = '{"MESSAGE":"UPDATE FAILED","ISSUCCESS":"FALSE","COMPUTERID":""}'
	END
    
END
GO
USE [master]
GO
